body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    margin: 0; /* Remove default margin */
    background-color: palevioletred;
}

#heart { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    width: 80vw; /* 80% of the viewport width */
    height: 72vw; /* Adjust the height based on the width to maintain aspect ratio */
    overflow: hidden; /* Optional: in case you want everything outside the heart shape to be hidden */
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    width: 40vw; /* Half of the heart's width for each pseudo-element */
    height: 72vw; /* Same as the heart's height to maintain the shape */
    background: red; 
    border-radius: 40vw 40vw 0 0; /* Ensure the rounded part matches the new size */
    transform-origin: 0 100%; 
} 

#heart:before {
    left: 50%; /* Start from the middle */
    transform: rotate(-45deg); 
}

#heart:after { 
    left: 50%; /* Adjusted to start from the middle */
    transform: translateX(-100%) rotate(45deg); /* Adjusted to ensure proper alignment */
    transform-origin: 100% 100%; 
}

section {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px; /* Ensure images do not overflow their container */
    height: auto;
    object-fit: cover; /* Cover ensures images fill their designated space without distortion */
}
