@media (max-width: 600px) {
    body {
        font-size: 14px;
        justify-content: center;
        align-items: center;
    }

    #heart {
        width: 90vw;
        height: 81vw; /* Adjust based on aspect ratio */
    }

    .image-row img {
        width: 50%; /* Adjust for fewer images per row or more space */
    }
    
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Full screen height */
    margin: 0; /* Remove default margin */
    background-color: palevioletred;
}


#heart { 
    position: relative; 
    width: 90px; 
    height: 80px; 
} 

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

img {
    width: auto; /* Ensure images do not overflow their container */
    height: 220px;
    object-fit: cover; /* Cover ensures images fill their designated space without distortion */
}

.grid {
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}